*{
    margin: 0;
    padding: 0;
}

body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    /* border: 5px solid red ; */
    color: white;
    position: absolute;
    top: 30%;
    left: 35%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.container h1{
    font-size: 40px;
    border-bottom:2px solid purple  ;
    padding: 13px 0;
    margin-bottom: 40px;
}

.box {
   width: 100%;
   border-bottom: 2px solid purple;
   margin: 22px 0px;
   /* border: 2px solid springgreen; */
   /* display: flex;
   justify-content: center;
   align-items: center; */
}

.box input {
    background: none;
    width: 75%;
    border: none;
    outline: none;
    color: white;
    /* border-bottom: 2px solid purple; */
    font-size: 16px;
    padding: 5px 10px;
    /* color: white; */
}

.box i{
    padding: 0 12px;
    width: 10%;
    text-align: center;    
}

.btn{
    cursor: pointer;
    /* width: 20%; */
    outline: none;
    margin: 12px 0px;
    padding:10px 21px;
    border-radius: 7px;
    background: none;
    border: 2px solid purple;
    color: white;
    font-size: 14px;
}